body {
	margin: 0;
	padding: 0;
  background-image: url("../images/texture.jpeg");
  font-weight: 420;
  font-size: 1.5em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#page {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 1080px;
  text-align: left;
  border-left: 2px solid #f1f1f1;
  border-right: 2px solid #f1f1f1;
  border-top: 2px solid #f1f1f1;
  border-bottom: 2px solid #f1f1f1;
 }
 
 #inner-page{
    padding: 20px 26px 26px 26px;
 }

#main { 
  border-bottom: 1px solid #d9d9d9;
 }

.container {
  margin-bottom: 10%;
  width: 1080px;
}

.row-thin {
  margin-left: 2%;
  margin-right: 2%;
}

.text-thin {
  font-weight: 480;
}

.header-thin {
  font-weight: 300;
  font-size: 15px;
}

.gray {
  background-color: #F3F3F3;
  margin-bottom: 1%;
}


.img-embeded {
  width: 200;
  height: 150;
  margin: 8px 8px 8px 8px;
}



.img_research {
  float: left;
  width: 320px;
  margin-left: 10px;
  margin-top: 5px;
  box-shadow: 0px 2px 8px #aaa;
}


li.my_item{
	position: relative;
	clear: both;
}


li.my_item img{
	float: left;
	margin: 5px 10px 5px 5px;
}


.links a{
  text-decoration: none;
}

.links a:hover{
  text-decoration: underline;
}

.paper-link{
  margin-right: 5px;
  color: #4CAF50;
}

.code-link{
  margin-right: 5px;
  color: orange;
}

.title-link{
  color: black
}

.slides-link{
  margin-right: 5px;
  color: purple
}

.video-link{
  margin-right: 5px;
  color: pink
}



@media only screen and (max-width: 1000px) {
  .flex-col {
    display: none;
  }
}

ul.my_table{
	list-style:none;
	margin: 0;
	padding: 0 0 10px 15px;
}



.date {
  color:brown;
  float:right;
}

#main { 
  border-bottom: 1px solid #d9d9d9;
 }
